<template name="applyLoan">
	<form id="loanApplicationForm">
    <div>
      <div class="list list-inset">
        <label class="item item-input bar bar-dark">
          Loan Application for {{#if isPrivateCustomer}}Private{{else}}Business{{/if}} Customer
        </label>

        <label class="item item-input">
          <span class="input-label">Loan amount (&euro;) : </span>
          <input id="amount" type="text">
        </label>
        <label class="item item-input">
          <span class="input-label">Loan period (year/s) : </span>
          <input id="period" type="text">
        </label>
        
        <label class="item item-input {{privateCustomerCssClass}}">
          <span class="input-label">Occupation : </span>
          <input id="occupation" type="text">
        </label>
        <label class="item item-input {{privateCustomerCssClass}}">
          <span class="input-label">Annual Salary : </span>
          <input id="annualSalary" type="text">
        </label>
        <label class="item item-input item-select {{privateCustomerCssClass}}">
          <div class="input-label">
            Loan type : 
          </div>
          <select id="privateLoanType">
            <option value="1" selected>Car Loan</option>
            <option value="2">Debt Consolidation Loan</option>
            <option value="3">Home Improvement Loan</option>
            <option value="4">Holiday Loans</option>
            <option value="5">GMNY Ambitious Private</option>
          </select>
        </label>

        <label class="item item-input item-select {{businessCustomerCssClass}}">
          <div class="input-label">
            Loan type : 
          </div>
          <select id="businessLoanType">
            <option value="6" selected>Startup Loan</option>
            <option value="7">Professional Loan</option>
            <option value="8">Small Business Loan</option>
            <option value="9">Construction Financing</option>
            <option value="10">GMNY Ambitious Business</option>
          </select>
        </label>
        <div class="item item-body">
          <button id="loanApplicationFormSubmit" class="button button-full button-positive">Apply</button>
        </div>
      </div>
    </div>

    
  </form>
</template>