<template name="homePage">
	<div class="list card">
		<div class="item item-body">
			<img class="full-image" src="img/bfs.png">
			<a href="{{pathFor 'join'}}" class="button button-full button-positive">Register</a>
		</div>
		<div class="item item-body">
			<img class="full-image" src="img/business_loan_2.jpg">
		</div>
		<div class="item item-body">
			<a href="{{pathFor 'signin'}}" class="button button-full button-positive">Apply for Loan</a>
		</div>
		<div class="item item-body">
			<img class="full-image" src="img/personal_loan_2.jpg">
		</div>
		<div class="item item-body">
			<img class="full-image" src="img/CreditCleanUp.jpg">
		</div>
	</div>
</template>