<template name="home">
	{{> headerBanner}}

	{{#ionView}}
		{{#ionContent}}
			<div class="headerPaddingTop">
				<form id="loginForm" name="loginForm" action="login">
					<div class="list list-inset">
					  <label class="item item-input">
					    <input name="username" type="text" placeholder="Username">
					  </label>
					  <label class="item item-input">
					    <input name="password" type="text" placeholder="Password">
					  </label>
					  <div class="item">
					  	<input type="submit" name="Submit" class="button button-small button-assertive">
					  </div>
					</div>
				</form>
			</div>
		{{/ionContent}}
	{{/ionView}}
</template>