<form name="customer_registration">
    <script cam-script type="text/javascript">
        $(document).ready(function () {
            $("#businessInformation").hide();
            $("#contactInformation").hide();
            $("#addressInformation").hide();

            $("#customerType").change(function () {
                toggleFields();
            });
        });
        function toggleFields() {
            if ($("#customerType").val() == "private") {
                $("#contactInformation").show();
                $("#privateContactInformationText").show();
                $("#addressInformation").show();
                $("#privateAddressInformationText").show();
                $("#businessInformation").hide();
                $("#businessContactInformationText").hide();
                $("#businessAddressInformationText").hide();
            }
            else if ($("#customerType").val() == "business") {
                $("#businessInformation").show();
                $("#contactInformation").show();
                $("#businessContactInformationText").show();
                $("#addressInformation").show();
                $("#businessAddressInformationText").show();
                $("#privateContactInformationText").hide();
                $("#privateAddressInformationText").hide();
            } else {
                $("#businessInformation").hide();
                $("#contactInformation").hide();
                $("#addressInformation").hide();
            }
        }
    </script>

    <style type="text/css">
        section {
            display: block;
            border-bottom: 1px solid darkgrey
        }
    </style>

    <!-- START -- NO ID -- BOTH: basicCustomerInformation -->
    <div class="form-group">
        <section>
            <h3>Customer Type</h3>
        </section>
        <p>Please select the type of customer to be registered.</p>

        <div class="row">
            <div class="col-md-6">
                <select cam-variable-name="customerType" cam-variable-type="String" id="customerType" required>
                    <option value="" selected style="display:none;">Please select</option>
                    <option value="private">Private</option>
                    <option value="business">Business</option>
                </select>
            </div>
        </div>
    </div>
    <!-- END -- NO ID -- BOTH: basicCustomerInformation -->

    <!-- START -- BUSINESS: businessInformation -->
    <div id="businessInformation" class="form-group">
        <section>
            <h3>Business Information</h3>
        </section>
        <p>Please enter the legal name and the business area of the organization being registered as a customer.</p>

        <div class="row">
            <div class="col-md-6">
                <label for="firstname">Organization Name</label>
                <input class="form-control" cam-variable-type="String" cam-variable-name="orgName" name="orgName"/>
            </div>
            <div class="col-md-6">
                <label for="lastname">Area of Activity</label>
                <input class="form-control" cam-variable-type="String" cam-variable-name="businessArea"
                       name="businessArea"/>
            </div>
        </div>
    </div>
    <!-- END -- BUSINESS: businessInformation -->

    <!-- START -- BOTH: contactInformation  -->
    <div id="contactInformation" class="form-group">
        <section>
            <h3>Personal and Contact Information</h3>
        </section>
        <!-- BUSINESS: businessContactInformation -->
        <p id="businessContactInformationText">Please fill in required personal and contact information of the contact person with the client
            organization.</p>
        <!-- PRIVATE: privateContactInformation -->
        <p id="privateContactInformationText">Please fill in the customers personal and contact information.</p>

        <!-- BOTH: continue contactInformation -->
        <div class="row">
            <div class="col-md-6">
                <label for="gender">Gender</label><br/>
                <select cam-variable-name="gender" cam-variable-type="String" name="gender">
                    <option value="" selected style="display:none">Please select</option>
                    <option value="Mr.">Mr.</option>
                    <option value="Ms.">Ms.</option>
                </select>
            </div>
            <div class="col-md-6">
                <label for="dateOfBirth">Date of Birth</label>
                <div class="input-group">
                    <input type="text" is-open="dateFieldOpeneddateOfBirth" datepicker-popup="dd/MM/yyyy"
                           cam-variable-name="dateOfBirth" cam-variable-type="String" name="dateOfBirth"
                           class="form-control" ng-model="dateOfBirth">
                    <div class="input-group-btn">
                        <button ng-click="opendateOfBirth($event)" class="btn btn-default" type="button">
                            <i class="glyphicon glyphicon-calendar">
                            </i>
                        </button>
                    </div>
                    <script type="text/form-script" cam-script="">
                        $scope.opendateOfBirth = function ($event)
                        {
                            $event.preventDefault();
                            $event.stopPropagation();
                            $scope.dateFieldOpeneddateOfBirth = true;
                        };
                    </script>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <label for="firstname">First Name</label>
                <input class="form-control" cam-variable-type="String" cam-variable-name="firstname" name="firstname"/>
            </div>
            <div class="col-md-6">
                <label for="lastname">Last Name</label>
                <input class="form-control" cam-variable-type="String" cam-variable-name="lastname" name="lastname"/>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <label for="email">Email Address</label>
                <div class="input-group">
                    <div class="input-group-addon">@</div>
                    <input class="form-control" cam-variable-type="String" cam-variable-name="email" name="email"/>
                </div>
            </div>
            <div class="col-md-6">
                <label for="phoneNumber">Phone Number</label>
                <div class="input-group">
                    <div class="input-group-addon"><i class="glyphicon glyphicon-phone-alt"></i></div>
                    <input id="phoneNumber" class="form-control" cam-variable-type="String" cam-variable-name="phoneNumber"
                           name="phoneNumber"/>
                </div>
            </div>
        </div>
    </div>
    <!-- END -- BOTH: contactInformation  -->

    <!-- START -- BOTH: addressInformation -->
    <div id="addressInformation" class="form-group">
        <section>
            <h3>Address Information</h3>
        </section>
        <!-- BUSINESS: businessAddressInformation -->
        <p id="businessAddressInformationText">Please fill in the business address of the organization.</p>
        <!-- PRIVATE: privateAddressInformation -->
        <p id="privateAddressInformationText">Please fill in the customers private address.</p>

        <!-- BOTH: continue contactInformation-->
        <div class="row">
            <div class="col-md-8">
                <label for="street">Street Name</label>
                <input class="form-control" cam-variable-type="String" cam-variable-name="street" name="street"/>
            </div>
            <div class="col-md-4">
                <label for="streetNumber">Street Number</label>
                <input class="form-control" cam-variable-type="String" cam-variable-name="streetNumber"
                       name="streetNumber"/>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <label for="zipCode">ZIP Code</label>
                <input class="form-control" cam-variable-type="String" cam-variable-name="zipCode" name="zipCode"/>
            </div>
            <div class="col-md-8">
                <label for="city">City</label>
                <input class="form-control" cam-variable-type="String" cam-variable-name="city" name="city"/>
            </div>
        </div>
    </div>
    <!-- END -- BOTH: addressInformation -->
</form>