<template name="join">
  <div class="page auth">
    <nav>
      <div class="nav-group">
        <a href="#" class="js-menu nav-item"><span class="ion-android-drawer main-logo"></span></a>
      </div>
    </nav>

    <div class="content-scrollable">
      <div class="wrapper-auth">
        <h1 class="title-auth">Register.</h1>
        <p class="subtitle-auth" >Please fill in the details below</p>

        {{#if errorMessages}}
          <div class="list-errors">
            {{#each errorMessages}}
              <div class="list-item">{{this}}</div>
            {{/each}}
          </div>
        {{/if}}

        <!--
        <div class="list list-inset">
          <label class="item item-radio">
            <input type="radio" name="group" checked="checked">
            <div class="item-content">
              Private Customer
            </div>
            <i class="radio-icon ion-checkmark"></i>
          </label>
          <label class="item item-radio">
            <input type="radio" name="group">
            <div class="item-content">
              Business Customer
            </div>
            <i class="radio-icon ion-checkmark"></i>
          </label>
        </div>
        -->

        <!--
        <div class="input-symbol  {{errorClass 'email'}}">
          <input type="email" name="email" placeholder="Your Email" />
        </div>

        <div class="input-symbol  {{errorClass 'password'}}">
          <input type="password" name="password" placeholder="Password" />
        </div>

        <div class="input-symbol {{errorClass 'confirm'}}">
          <input type="password" name="confirm" placeholder="Confirm Password" />
        </div>
        -->

        <div class="button-bar">
          <a id="privCustomerOption" class="button button-calm">
            <i class="icon ion-person"></i>
            Private Customer
          </a>
          <a id="busCustomerOption" class="button button-calm">
            <i class="icon ion-briefcase"></i>
            Business Customer
          </a>
        </div>

        <form id="privateCustomerRegForm">
          <div>
            <div class="list list-inset">
              <label class="item item-input bar bar-dark">
                Private Customer
              </label>
              <label class="item item-input">
                <span class="input-label">First Name : </span>
                <input type="text">
              </label>
              <label class="item item-input">
                <span class="input-label">Last Name : </span>
                <input type="text">
              </label>
              <label class="item item-input">
                <span class="input-label">Email : </span>
                <input type="email">
              </label>
              <label class="item item-input">
                <span class="input-label">Street name and number : </span>
                <input type="text">
              </label>
              <label class="item item-input">
                <span class="input-label">City : </span>
                <input type="text">
              </label>
              <label class="item item-input">
                <span class="input-label">Pincode : </span>
                <input type="text">
              </label>
              <label class="item item-input">
                <span class="input-label">Mobile number : </span>
                <input type="tel">
              </label>
              <label class="item item-input">
                <span class="input-label">Date of birth : </span>
                <input type="date">
              </label>
            </div>
          </div>

          <button type="submit" class="btn-primary">Register</button>
        </form>

        <form id="businessCustomerRegForm" style="display: none;">
          <div>
            <div class="list list-inset">
              <label class="item item-input bar bar-dark">
                Business Customer
              </label>
              <label class="item item-input">
                <span class="input-label">Name of the organisation : </span>
                <input type="text">
              </label>
              <label class="item item-input">
                <span class="input-label">Street name and number : </span>
                <input type="text">
              </label>
              <label class="item item-input">
                <span class="input-label">City : </span>
                <input type="text">
              </label>
              <label class="item item-input">
                <span class="input-label">Pincode : </span>
                <input type="text">
              </label>
              <label class="item item-input">
                <span class="input-label">Telephone number : </span>
                <input type="tel">
              </label>
              <label class="item item-input">
                <span class="input-label">Year of formation : </span>
                <input type="text">
              </label>
              <label class="item item-input">
                <span class="input-label">Business area : </span>
                <input type="text">
              </label>
            </div>
          </div>

          <button type="submit" class="btn-primary">Register</button>
        </form>


      </div>

      <a href="{{pathFor 'signin'}}" class="link-auth-alt">Have an account? Sign in</a>
    </div>
  </div>
</template>