<template name="join">
  <div class="page auth">
    <nav>
      <div class="nav-group">
        <a href="#" class="js-menu nav-item"><span class="ion-android-drawer main-logo"></span></a>
      </div>
    </nav>

    <div class="content-scrollable">
      <div class="wrapper-auth">
        <h1 class="title-auth">Register.</h1>
        <p class="subtitle-auth" >Please fill in the details below</p>

        <div class="button-bar">
          <a id="privCustomerOption" class="button button-positive">
            <i class="icon ion-person"></i>
            Private Customer
          </a>
          <a id="busCustomerOption" class="button button-positive">
            <i class="icon ion-briefcase"></i>
            Business Customer
          </a>
        </div>

        <div class="list list-inset">
          <label class="item item-input bar bar-dark {{isPrivateCustomer}}">
            Private Customer
          </label>
          <label class="item item-input bar bar-dark {{isBusinessCustomer}}">
            Business Customer
          </label>
        </div>

        <div>
        {{#if errorMessages}}
          <div class="list-errors">
            {{#each errorMessages}}
              <div class="list-item">{{this}}</div>
            {{/each}}
          </div>
        {{/if}}
        </div>

        <form id="customerRegForm">
          <div>
            <div class="list list-inset">
              <!-- Start - Business customer's only -->
              <label class="item item-input {{isBusinessCustomer}}">
                <span class="input-label">Name of the organisation : </span>
                <input id="orgName" type="text">
              </label>
              <label class="item item-input {{isBusinessCustomer}}">
                <span class="input-label">Business area : </span>
                <input id="businessArea" type="text">
              </label>

              <div class="item item-divider {{isBusinessCustomer}}">
                Contact person's details
              </div>
              <!-- End - Business customer's only -->

              <label class="item item-input">
                <span class="input-label">First Name : </span>
                <input id="firstName" type="text">
              </label>
              <label class="item item-input">
                <span class="input-label">Last Name : </span>
                <input id="lastName" type="text">
              </label>
              <label class="item item-input">
                <span class="input-label">Email : </span>
                <input id="email" type="email">
              </label>
              <label class="item item-input">
                <span class="input-label">Street number : </span>
                <input id="streetNum" type="text">
              </label>
              <label class="item item-input">
                <span class="input-label">Street name : </span>
                <input id="streetName" type="text">
              </label>
              <label class="item item-input">
                <span class="input-label">City : </span>
                <input id="city" type="text">
              </label>
              <label class="item item-input">
                <span class="input-label">Zip code : </span>
                <input id="pincode" type="text">
              </label>
              <label class="item item-input">
                <span class="input-label">Contact number : </span>
                <input id="contactNumber" type="tel">
              </label>

              <label class="item item-input {{isPrivateCustomer}}">
                <span class="input-label">Date of birth : </span>
                <input id="dateOfBirth" type="text" placeholder="YYYY-MM-DD">
              </label>
              <label class="item item-input item-select {{isPrivateCustomer}}">
                <div class="input-label">
                  Gender : 
                </div>
                <select id="gender">
                  <option selected>Male</option>
                  <option>Female</option>
                </select>
              </label>

            </div>
          </div>

          <button id="customerRegFormSubmit" class="btn-primary">Register</button>
        </form>

      </div>

      <a href="{{pathFor 'signin'}}" class="link-auth-alt">Have an account? Sign in</a>
    </div>
  </div>
</template>